* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/*all uses it */
:root {
  --color-white: #fff;
  --color-green: #1c5e20;
  --color-yellow: #fbd836;
  --color-red: #c6272b;
  --color-cream: #f7f9f6;
  --color-black: #000;
  --color-dark: #3a4259;
  --color-orange: #e6981b;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--color-green);
}
.btn {
  font-weight: 700;
  color: var(--color-green);
  background-color: var(--color-yellow);
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 10px;
}
.card .day {
  color: var(--color-red);
}
img {
  width: 100%;
}
.btn:hover {
  background-color: var(--color-orange);
}

/*nav*/
.nav {
  position: sticky;
  top: 0;
  height: 80px;
  background-color: var(--color-white);
  z-index: 1000;
}

.nav-flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav .links ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
}
.nav a {
  color: var(--color-dark);
  font-weight: 500;
}
.nav a:hover {
  color: var(--color-green);
}

.nav span {
  color: var(--color-black);
}
.nav h1 {
  color: var(--color-green);
  font-weight: 400;
}
.hamburger {
  display: none;
}
.hamburger i {
  color: var(--color-green);
}
.nav .links-sm {
  display: none;
}

.hero {
  height: 90vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../image/hero.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 7rem;
}
.hero h1,
.hero p {
  color: var(--color-white);
}
.hero h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 700;
}
.hero p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.hero .arrow {
  font-size: 30px;
  display: block;
  text-align: center;
  margin: 40px auto;
  animation: bounce 1.5s infinite;
  color: var(--color-white);
}
.hero .btn {
  height: 40px;
  width: 12rem;
  font-weight: 700;
}
.destination {
  background-color: #f9f9f9;
}
.destination h1,
.tour h1,
.price h1,
.book h1 {
  text-align: center;
  color: var(--color-green);
  font-size: 3rem;
  font-weight: 600;
  margin: 1rem;
}
.destination .first,
.tour .first,
.price .first,
.book .first {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-dark);
  font-size: 1.2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1rem; /* spacing between cards */
  padding: 2rem;
}
.grid .card {
  background-color: var(--color-cream);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}
.card:hover {
  transform: scale(0.95); /* shrink slightly */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* deeper shadow */
}
.grid .card img {
  border-radius: 10px;
}
.card h3,
.card p {
  padding-left: 1.5rem;
  color: var(--color-dark);
}
.card h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--color-green);
}

.card .btn,
.book .btn {
  margin: 1rem;
  width: 90%;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 600px;
  margin: 5% auto;
  padding: 2rem;
  border-radius: 15px;
  position: relative;
  animation: fadeIn 0.3s ease;
  text-align: center;
}

.modal-content img {
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 28px;
  cursor: pointer;
  color: var(--color-red);
  margin-bottom: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tour .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 1rem; /* spacing between cards */
  padding: 2rem;
}
.tour .flex,
.price .flex {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.tour h3 {
  text-align: center;
}
.tour .card {
  height: 32rem;
}
.tour .down {
  margin: 0 2.5rem;
  margin-top: 1.2rem;
}
#tour {
  margin-left: -1rem;
}
.tour ul,
.price ul {
  list-style: circle;
}
.tour .btn {
  margin-top: 4rem;
}
#ul {
  margin-left: 3rem;
  margin-bottom: 3.5rem;
}
.price .btn1 {
  font-weight: 700;
  color: var(--color-green);
  background-color: var(--color-cream);
  width: 130px;
  height: 40px;
  border: none;
  border-style: solid;
  border-radius: 10px;
  width: 90%;
  align-items: center;
  margin: 1rem;
}
.price .btn1:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}
.price h3 {
  margin-bottom: 0;
}
.card1 {
  border-color: var(--color-yellow);
  border-style: solid;
  border-width: 2px;
} /* FORM CONTAINER */
.book .form {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 3rem;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}
.price {
  background-color: #f9f9f9;
}

/* LABELS */
.form p {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

/* INPUTS, SELECT, TEXTAREA */
.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 1.2rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* REMOVE RESIZE FROM TEXTAREA */
.form textarea {
  resize: none;
  min-height: 120px;
}

/* FOCUS EFFECT */
.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .tour .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .price .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 846px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger button {
    background-color: var(--color-white);
    border: none;
  }

  .nav .links ul {
    display: none;
    max-width: 100%;
  }

  .links-sm {
    display: none;
    position: fixed;
  }

  .links-sm.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--color-white);
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 10px 0;
    text-align: center;
    justify-content: space-around;
    align-items: start;
  }
  .links-sm .btn {
    width: 90%;
    margin: 0 auto;
  }

  .links-sm li {
    margin: 2rem;
    list-style: none;
    text-align: left;
  }
  .links-sm li:last-child {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 600;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .tour .grid {
    grid-template-columns: 1fr;
  }
  .price .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 400;
  }
}
